* {
  background: rgb(32, 32, 32);
  color: whitesmoke;
  font-family: avenir, arial, helvetica, sans-serif;
  border-radius: 10px;
  transition: 0.25s;
}

button {
  padding: 10px;
}

button:hover,
button:focus {
  background: lime;
  color: black;
}

a[href="/image-manipulation.html"] {
  color: pink;
}

a:hover,
a:focus {
  color: lime;
}

input {
  padding: 10px;
}

input:hover,
input:focus {
  background: lime;
  color: black;
}

*:focus {
  text-decoration: underline;
}

video#video {
  height: 300px;
}

#charlie-elements {
  text-align: center;
}

#charlie-elements > .charlie[data-animations][data-times] {
  font-size: xx-large;
  color: lime;
}

.shrink {
  -webkit-animation-name: shrink;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;

  animation-name: shrink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;

  animation-name: fade;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@-webkit-keyframes shrink {
  0% {
    font-size: xx-large;
  }
  100% {
    font-size: small;
    width: 0;
    height: 0;
  }
}

@keyframes shrink {
  0% {
    font-size: xx-large;
  }
  100% {
    font-size: small;
    width: 0;
    height: 0;
  }
}


@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

code {
  font-family: monospace;
  color: lime;
}
